h1{
    color: rgba(255, 0, 0, 0.658);
    text-align: center;
}

/* #div p{
    text-align: center;
} */

body{
    background-color: darkgoldenrod;
}

p{
    margin: 10px;
    padding: 10px;
}

footer{
    margin-top: 10px;
    
}

header{
    border-color: transparent;
}

